body{
    background-color: #0C2340;
    color: #FC4C02;
    font-family: fantasy;
    text-align: center;
}

a{
    color: #FC4C02;
    font-family: arial
}

.form{
    width: 600px;
    height: 450px;
    border: 2px solid white;
    margin: 30px 30px 5px 297px;
}
