<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ninjas</title>
    <!-- {% load staticfiles %}
    <script type="text/javascript">
    </script> -->
  </head>
  <body>
    <h1>ninjas</h1>
    <h2>{{color}}</h2>
    <img src="/static/portfolioapp/images/tmnt.png" alt="tmnt">
    <img src="/static/portfolioapp/images/leonardo.jpg" alt="leonardo">
    <img src="/static/portfolioapp/images/michelangelo.jpg" alt="michelangelo">
    <img src="/static/portfolioapp/images/raphael.jpg" alt="raphael">
    <img src="/static/portfolioapp/images/donatello.jpg" alt="donatello">
    <!-- <img src="/static/portfolioapp/images/notapril.jpg" alt="notapril"> -->

    <!-- /ninjas/[ninja_color] blue leonardo-->
    <!-- /ninjas/orange => Michelangelo. -->
    <!-- /ninjas/red => Raphael -->
    <!-- /ninjas/purple => Donatello -->

  </body>
</html>
