<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login & Reg | Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/css.css' %}">

  </head>
  <body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>Add a new course</h1>
    <form class="" action="/add_username" method="post">
      {% csrf_token %}
      firstname: <input type="text" name="firstname" value="firstname">
      lastname: <input type="text" name="lastname" value="lastname">
      email: <input type="text" name="email" value="email@email.com">
      password: <input type="password" name="password" value="password">
      Confirm password: <input type="password" name="confirm_pw" value="password">
      birthday: <input type="text" name="birthday" value="birthday">
      <input type="submit" name="submit" value="Submit">
    </form>
    </table>
  </body>
</html>
