<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Success Page</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
   </head>
   <body>
      {% with messages = get_flashed_messages() %}
       {% if messages %}
         {% for message in messages %}
           <p>{{message}}</p>
         {% endfor %}
       {% endif %}
     {% endwith %}
     <!-- <p>{{ all_registrants }}</p> -->
     <!-- <h1>Email addressess Entered</h1>
      {% for i in all_registrants: %}
        <p>firstname: {{ i['firstname'] }}</p>
        <p>lastname: {{ i['lastname'] }}</p>
        <p>email: {{ i['email'] }}</p>
        <p>password: {{ i['password'] }}</p>
      {% endfor %} -->
</body>
</html>
