<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete a course</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/courses.css' %}">
  </head>
  <body>
    <h1>Are you sure you want to delete the following course?</h1>
    <h3>Name: {{course.name}}</h3>
    <h3>Description: {{ course.description}}</h3>
    <h3>{{course.id}}</h3>
    <form class="" action="/delete_course/{{course.id}}" method="post">
      {% csrf_token %}
      <button type="button" name="button"><a href="/">No</a></button>
      <input type="submit" name="submit" value="Yes, I want to delete this course">
    </form>
  </body>
</html>
